[submodule "cli-organize-go"]
	path = cli-organize-go
	url = https://github.com/singhAmandeep007/cli-organize-go.git
[submodule "cli-organize-py"]
	path = cli-organize-py
	url = https://github.com/singhAmandeep007/cli-organize-py.git
